/**
 * Stylesheet
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html, body {
  display: table;
  height: 100%;
  width: 100%;
  background: #fafafa;
  color: #202020; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-size: 62.5%; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

a:focus {
  outline: 1px solid rgba(51, 51, 51, 0.3); }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

/**
 * 1.1 - General Page Layout
 */
#page-container {
  border: none;
  z-index: 20;
  width: 80%;
  margin: 0 auto;
  max-width: 1068px;
  position: relative;
  display: table;
  height: inherit; }


/**
*	Global positioning of containers - for accessibility and SEO 
*/
header#main-header,
#main-header,
article#main-content,
#main-content,
footer#main-footer,
#main-footer {
  border: none;
  margin: 0 auto;
  width: 100%;
  position: relative; }

header#main-header, #main-header {
  position: absolute;
  top: 0px;
  z-index: 30;
  width: 100%; }

article#main-content, #main-content {
  z-index: 20;
  display: table;
  clear: both;
  padding: 0;
  float: left;
  margin-top: 45px;
  position: relative; }

footer#main-footer, #main-footer {
  clear: both;
  display: block;
  height: 300px;
  z-index: 10;
  padding-top: 20px; }

/* the banner area/ top navigastion / logo and search */
header#main-header #main-logo, #main-header #main-logo {
  float: left;
  padding-top: 10px;
  padding-right: 1%;
  width: 48.9%; }

header#main-header #main-logo a, #main-header #main-logo a {
  border: none;
  display: block; }

header#main-header #social-links-login-search-container,
#main-header #social-links-login-search-container {
  float: left;
  padding-top: 10px;
  width: 51.01%; }

/* footer */
footer#main-footer .footer-col, #main-footer .footer-col {
  padding: 0 0.15em;
  max-width: 1012px; }


body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    background: #fafafa;
    color: #202020;
}

/**
 * Text styles etc
 */

h1, h2, h3, h4, h5, h6, a, cite {
    color: #000;

}
h1 {
	font-size: 2.8em;
	padding-bottom: 10px
}
h2 {
	font-size: 2.4em;
	padding-bottom: 10px
}
a {
    color: #000;
}

a:hover,
a:focus,
a:hover {
    color: #666;
}

.row {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;

	grid-column-gap: 10px;
	grid-row-gap: 10px;

	grid-template-areas: "label" "input";
}

@media screen and (min-width: 768px){
	.row {
		grid-template-areas: "label input";
		grid-template-columns: 1fr 5fr;
	}
}

.row label {
	grid-area: label;

}

.row input {
	grid-area: input;
	
}

/**
 * Forms
 */
form {
	padding: 20px;
	background: rgba(0,0,0,0.15);
}

label,
.nf-form-content .label {
    font-weight: 400;
    font-size: 1.4em;
    padding: 5px 2px;
}

/* Fields */
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea,
.nf-form-content input[type=date],
.nf-form-content input[type=datetime],
.nf-form-content input[type=datetime-local],
.nf-form-content input[type=email],
.nf-form-content input[type=month],
.nf-form-content input[type=number],
.nf-form-content input[type=password],
.nf-form-content input[type=range],
.nf-form-content input[type=search],
.nf-form-content input[type=tel],
.nf-form-content input[type=text],
.nf-form-content input[type=time],
.nf-form-content input[type=url],
.nf-form-content input[type=week],
.nf-form-content select,
.nf-form-content textarea {
  -webkit-appearance: textfield;
  background-color: #fff;
  /* Remove background fill */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /* Remove corner curve */
  color: #000;
  width: 100% !important;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #C6C6BC;
  font-family: arial, sans-serif;
  font-size: 12px !important; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent; }

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent; }

/* IE 10+ */
/* Button */
input[type=submit],
input[type=button],
button[type=submit],
.button,
.nf-form-content input[type=submit],
.nf-form-content input[type=button],
.nf-form-content button[type=submit],
.nf-form-content .button {
  padding: 11px 60px;
  color: #fff;
  background-color: #FF5E00;
  float: right;
  clear: both;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
    }
    input[type=submit]:hover,
    input[type=submit]:focus,
    input[type=submit]:active,
    input[type=button]:hover,
    input[type=button]:focus,
    input[type=button]:active,
    button[type=submit]:hover,
    button[type=submit]:focus,
    button[type=submit]:active,
    .button:hover,
    .button:focus,
    .button:active {
    background-color: #C0DFFD;
    color: #202020;
    cursor: pointer;
}
